<h1>DBZ</h1>
<hr>
<div class="row">
    <div class="col">
        <app-personajes [personajes]="personajes">
        </app-personajes>
    </div>
    <div class="col">
        <h3>Agregar con $evente</h3>
        <hr>
        <form (submit)="agregarEvent($event)">
            <input type="text" placeholder="Nombre" [value]="nuevo.nombre" (input)="cambiarNombre($event)" />
            <input type="number" placeholder="Poder" [value]="nuevo.poder" />
            <button type="submit">
                Agregar
            </button>
        </form>
    </div>
    <div class="col">
        <app-agregar [personajes]="personajes" [nuevo]="nuevo"></app-agregar>
    </div>
</div>